<div>
  <b>Edit user</b>
</div>

<div style="display: none;">
  <input type="text" id="PreventChromeAutocomplete"
   name="PreventChromeAutocomplete" autocomplete="username" />
  <input type="password" id="PreventChromePasswordAutocomplete"
   name="PreventChromePasswordAutocomplete" autocomplete="password" />
</div>
Username: <input type="text" id="username" placeholder="username" [(ngModel)]="username"><br>
First name: <input type="text" id="firstName" name="firstName" placeholder="firstName" [(ngModel)]="firstName"><br>
Last name: <input type="text" id="lastName" name="lastName" placeholder="lastName" [(ngModel)]="lastName"><br>
Permissions: <ng-multiselect-dropdown
  [settings]="dropdownSettings"
  [data]="permissions"
  [(ngModel)]="selectedPermissions"
>
</ng-multiselect-dropdown>
<br>
<button type="submit" (click)="editUser()">Submit</button>
<br>
{{message}}