<div>
  <h3>Login page</h3>

  <div *ngIf="isLoggedIn == false">
    <form (submit)="login()" class="mb-5">
      <div class="form-group mb-2">
        <label for="jwt">{{jwt}}</label>
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="username" [(ngModel)]="username">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
  <button (click)="logout()" *ngIf="isLoggedIn == true" type="submit" class="btn btn-primary">Logout</button>
</div>
